h1{font-size: 30px;
text-transform: uppercase;
font-style: italic;
margin: center;
text-align: center;}
ol{font-size: 30px;
text-transform: uppercase;
font-style: italic;
text-align: center;}
h2{font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
    margin: center;
    text-align: center;}